body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #c4ceff;
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: grey;
}
.flo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
canvas{
  position: absolute;
}
.container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.result-container{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.result-container > div{
  font-size: 1.3rem;
  padding: 0.5rem;
  margin: 5px 0;
  color: white;
  text-transform: capitalize;
  font-family: monospace;
  font-weight: bolder;
}
#video{
  width: 50%!important;
  height: auto;
  margin: 4% 5%;
  padding: 0px;
  border-radius: 20px;
}
header{
  background: #012a4b;
  color: white;
  font-family: sans-serif;
  font-size: 2rem;
  padding: 1rem;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header span{
  font-size: 18px;
}
header div,header span{
  cursor: pointer;
}
.menuBox{
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 2px 4px;
}
.result-container{
  position: absolute;
  border-radius: 10px;
  border: 1px solid #fff;
  background: #012a4b;
  padding: 5px 8px;
}
#left-container{
  top: 14%;
  left: 20px;
  width: 20%;
}
#right-container{
  top: 14%;
  right: 20px;
  width: 20%;
}
.result-container h2{
  font-family: sans-serif;
  color: #00ff09;
  font-weight: 800;
  margin: 4px 0px;
}
.result-container hr{
  border: 2px solid #fff;
  border-radius: 5px;
  margin-bottom: 0px;
}
.result-container div span o{
  color: red;
}
.result-container div{
  font-size: 14px;
}
#founder{
  position: absolute;
  top: 45%;
  left: 40%;
  color: antiquewhite;
  font-weight: bold;
  font-size: 30px;
  font-family: Consolas, 'Courier New', monospace;
  text-shadow: 1px 1px 5px #000;
}
.feedback{
  margin: 0px;
  padding: 0px!important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.feedback span{
  margin-right: 10px;
  cursor: pointer;
}
footer{
  background-color: #012a4b;
  text-align: center;
  color: #fff;
  font-family: sans-serif;
  padding: 20px 0px;
  margin: 60px 0px 0px 0px;
}
footer p{
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
  padding: 2px 20px;
}
footer button{
  width: 300px;
  height: 60px;
  background: linear-gradient(180deg, #e3bd78, orange);
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  margin: 20px auto;
}
footer button:hover{
  cursor: pointer;
}
.invisible{
  background: transparent;
  border: 0px solid #fff;
}
.rewordBack,.moreBack{
  display: none;
  background: #000000c7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  position: fixed;
}
.rewordBox,.moreBox{
  background: #fff;
  border-radius: 10px;
  width: 40%;
  margin: 10% 30%;
  padding: 5px 14px;
  box-shadow: 0px 0px 6px 2px #0c8ff0;
}
.rewordBox h1,.moreBox h1{
  margin: 0px 0px 0px 5px;
  color: #00ff09;
  font-family: sans-serif;
}
.rewordBox p,.moreBox p{
  text-align: justify;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.rewordBox button,.moreBox button{
  border-radius: 5px;
  background-color: grey;
  color: #fff;
  margin: 5px auto;
  border: none;
  padding: 4px 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}
#clsBtn{
  background: linear-gradient(180deg, red, orange);
}
#permitBtn{
  background: linear-gradient(180deg, green, greenyellow);
}
.moreBox .moreHolder div{
  background: #f6f6f6;
  border-radius: 5px;
  width: 48%;
  cursor: pointer;
  font-family: sans-serif;
}
.moreHolder div .morehead{
  width: 70%;
}
.moreHolder div .morehead h3{
  margin: 4px 0px 0px 0px;
  font-family: monospace;
}
.moreHolder div .morehead h6{
  margin: 4px 0px 8px 0px;
}
.moreHolder div .moreicon{
  padding-top: 10px;
  color: #0c8ff9;
}
.moreP{
  height: 180px;
  max-height: 180px;
  overflow: auto;
  font-size: 14px;
  display: none;
}
.btnHolder{
  opacity: 0.0;
  background: linear-gradient(90deg, transparent, #b8c4ff, transparent);
  width: 40%;
  position: absolute;
  top: 92%;
  left: 30%;
  padding: 4px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.btnHolder .btn{
  border-radius: 50%;
  width: 85px;
  height: 85px;
  border: none;
  cursor: pointer;
  outline: none;
  background: #012a4b;
  font-size: 25px;
  color: #fff;
}
@media only screen and (max-width: 900px){
  header{
    font-size: 12px;
    display: flex;
    flex-direction: row;
  }
  header span{
    font-size: 10px;
  }
  .result-container{
    position: absolute;
    width: 90%!important;
    margin: 5px 2%;
    border-radius: 10px;
    font-size: 12px;
  }
  .result-container > div{
    font-size: 14px;
  }
  #left-container{
    position: relative;
    left: 0px;
    top: 2%;
  }
  #right-container{
    position: relative;
    left: 0px;
    top: 1%;
  }
  #founder{
    position: absolute;
    top: 15%;
    left: 20%;
    font-size: 10px;
  }
  canvas{
    width: 100vw;
  }
  #video{
    width: 90%!important;
    height: auto;
    margin: 4% 5%;
  }
  footer{
    margin-top: 40px;
  }
  .rewordBox,.moreBox{
    width: 80%;
    margin: 25% 10%;
    padding: 5px;
  }
  .btnHolder{
    display: none;
  }
}